# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# DJANGO
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# =========================
# ENV FILES
# =========================
.env
.env.*
!.env.example

# =========================
# VIRTUAL ENV
# =========================
venv/
env/
ENV/

# =========================
# DJANGO MEDIA
# =========================
media/

# =========================
# STATIC FILES
# =========================
staticfiles/
static/

# =========================
# PYTHON TOOLING
# =========================
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# CELERY
# =========================
celerybeat-schedule

# =========================
# DOCKER
# =========================
*.pid

# =========================
# SECRET FILES
# =========================
*.pem
*.key

# =========================
# UPLOADS
# =========================
uploads/

# =========================
# MIGRATION CACHE
# =========================
*/migrations/__pycache__/

# =========================
# PYTHON VERSION
# =========================
.python-version